.nav_list
{
	display: flex;
	width: 100%;
	justify-content: center;
	flex-wrap: wrap;
	font-size: 30px;
	color: #7C7C7C;
	gap:90px;
	
}

.nav_list li
{
	cursor: pointer;
	/* animation: 3.5s infinite alternate change_color_list; */
}

.nav_list li:hover
{
	color:white;
	animation: none;
}

@keyframes change_color_list 
{
  from 
  {
	  color:#7C7C7C;
  }	
  to
  {
	  color:#ffffff;
  }
}
