	.arrow 
	{
	  height: 30px;
	  width: 30px;
	  position: absolute;
	  top: 40%;
	  z-index: 1;
	}
	  .arrow:hover 
	  {
		cursor: pointer;
	  }

	  .arrow_left 
	  {
		background-image: url("../../../../assets/arrow.png");
		background-repeat: no-repeat;
		background-size: contain;
		margin-left: 120px;
		transform: rotate(
180deg);
		left: 0;
	  }

	  .arrow_right 
	  {
		background-image: url("../../../../assets/arrow.png");
		background-repeat: no-repeat;
		background-size: contain;
		margin-right: 120px;
		right: 0;
	  }
@media screen and (max-width:900px) 
{
	.arrow_left
	{
		margin-left:0;
	}
	.arrow_right
	{
		margin-right:0;
	}
}

@media screen and (max-width:480px) 
{
	/* .arrow 
	{
		top:auto;
		bottom:8.5%;
		z-index: 3;
	} */

	.arrow_left
	{
		margin-left:-10px;
	}
	.arrow_right
	{
		margin-right:-10px;
	}
}
