.block
{
	position: relative;
}
.block__background
{
	/* 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
	object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
    width: 100%;
}


.block_content__title
{
	font-size: 76px;
	color: white;
	font-weight: 400;
	text-align: center;

}

@media screen and (max-width:468px) 
{
    .block_content__title
    {
        font-size: var(--fz-big);
    } 
}
