.greeting__background
{
	/* background-image: url('/src/assets/greeting.jpg'), linear-gradient(21deg, #f8a26114, #6e9fc91a); */
	filter: saturate(105%) contrast(125%) brightness(0.9);
	background-blend-mode: color-burn;
	
}

.greeting_content
{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	padding-top: 180px;
	padding-bottom: 200px;
}

.greeting_content__logo
{
	width: 319px;
}
.greeting_content__text
{
	text-align: right;
	color:white;
	align-items: center;
	font-weight: normal;
}

.greeting_content__text_header_greeting
{
	font-size: 76px;
	font-weight: inherit;
}

.greeting_content__text_header_name
{
	font-size: 72px;
	font-weight: inherit;
}
.greeting_content__text_header_position
{
	font-size: 64px;
	font-weight: inherit;
}

.greeting_content__text_paragraph
{
	font-size: 36px;
	font-weight: inherit;
}


@media screen and (max-width:620px)
{
	.greeting_content
	{
		justify-content: center;
	}
	.greeting_content__logo
	{
		display: none;
	}
	.greeting_content__text
	{
		text-align: center;
	}
}

@media screen and (max-width:468px) 
{

	.greeting_content__text_header_name
	{
		font-size: 60px;
	}
	.greeting_content__text_header_position
	{
		font-size: var(--fz-big);
	}

	.greeting_content__text_paragraph
	{
		font-size: var(--fz-small);
	}

}
