.greeting__background
{
	/* background-image: url('/src/assets/greeting.jpg'), linear-gradient(21deg, #f8a26114, #6e9fc91a); */
	filter: saturate(105%) contrast(125%) brightness(0.9);
	background-blend-mode: color-burn;
	
}

.greeting_content
{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	padding-top: 180px;
	padding-bottom: 200px;
}

.greeting_content__logo
{
	width: 319px;
}
.greeting_content__text
{
	text-align: right;
	color:white;
	align-items: center;
	
}

.greeting_content__text_header
{
	font-weight: normal;
}

.greeting_content__text_header:nth-child(1)
{
	font-size: 76px;
}

.greeting_content__text_header:nth-child(2)
{
	font-size: 72px;
}
.greeting_content__text_header:nth-child(3)
{
	font-size: 64px;
}

.greeting_content__text_paragraph
{
	font-size: 36px;
}
