.skills_controls__searching
{
	position: relative;
	width: 300px;
}
.searching_input
{
	border: 1px solid white;
	background: #ffffff00;
	padding:5px 45px 5px 10px;
	font-size:24px;
	color:white;
	width: 300px;
}

.searching_input::placeholder
{
	color:white;
	font-family: -apple-system, BlinkMacSystemFont, Marck Script,'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

.searching_icon
{
	position: absolute;
	
	
}

.icon_search
{
	visibility: hidden;
	opacity: 0;
	top:0;
	right:5px;
	transition: visibility 0s linear 300ms, opacity 300ms;
}

.icon_close
{
	visibility: hidden;
	opacity: 0;
	top:6px;
	right:5px;
	cursor: pointer;
	transition:transform 0.5s ease;
	transition: visibility 0s linear 300ms, opacity 300ms;
}

.icon_view
{
	visibility: visible;
	opacity: 1;
	transition: visibility 0s linear 0s, opacity 300ms; 
}

.icon_close:hover
{
	transform:scale(1.1);
}


.icon_close:active
{
	transform:scale(0.8);
}
